# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZW5kbGVzcy1mbHktMTEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_294uO0rJ12sbUfNx5MjDQ4eJ5KAqY6ksmLp94Ocjiy
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Neon PostgreSQL (replaces Convex)
DATABASE_URL=postgresql://neondb_owner:npg_pPaq9bCVy4ol@ep-fragrant-pond-an8xfsuq-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Gemini AI
GEMINI_API_KEY=AIzaSyChgcGhbJKBOy4p1lXOQeKzTuFstINb58I

# Arcjet Protection
ARCJET_KEY=aajkey_01kpyxk6bzem8829tj1zyy3j92
RESEND_API_KEY=re_uswbh8K8_RFTEbTSHQE3pgHDqMcVvCVb7
